
body {
    min-height: 95vh;
    width: 100vw;
    background: linear-gradient(to right, #f0f4ff, #ffffff);
    background-size: cover;
    background-image: url(./images/background-image.jpg);
    gap: 1rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Libre Baskerville", serif;
}


header {
    background: color #f0f2f5;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
  
    align-items: center;
}

.container {
    width: 90%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f2fa;
    border-radius: 50px;
    padding: 40px 100px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    height: auto;
}  

.logo img {
    width: 150px;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
}


nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 500;
}


.btn {
    background: linear-gradient(45deg, #2575fc, #6a11cb);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}
    
    
.background {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 10%;
}     

    
.background-content {
    font-weight: bold
}
   

.background h1 {
    font-size: 65px;
    font-weight: bold;
    color: black;
}

.background h2 {
    font-weight:bold;
    color: grey;
}

.background-content h1 span {
    color: #4c82f7;
    font-weight: bold;
}


.blue-text {
    color: #4c82f7;
}

.background p {
    font-size: 16px;
    color: grey;
    margin-top: 20px;
    line-height: 1.5;
}


.cta-button {
    background-color: #6c5ce7;
    color: white;
    padding: 12px 24px;
    border-radius: 25px;
    text-transform: uppercase;
}

@media (max-width: 680px) {
    .logo img{
      width: 100px;
    }
  
    h1 {
      font-size: 3.5rem;
      text-align: center;
    }

    h2 {
        font-size: 3.5rem;
        text-align: center;
      }
  
    .container {
      width: 100%;
      display: inline-flex;
      margin-bottom: 30px;
      text-align: justify;
    }
  
    .background {
      margin-bottom: 10px;
      width: 100%;
      display: inline;
      object-fit: cover;
    }

    nav ul {
        display: table-cell;
        text-orientation: sideways-right;
    }

      .container * {
    flex-basis: 100px;
  }
  }

